{% extends "layouts/layouts.html" %}

{% block title %}
    {{title}}
{% endblock title %}

{% block content %}
    <h1> {{title}}</h1>
    <h2> {{content}}</h2>
    <p>Formar profesionistas integrales y competentes a nivel nacional e internacional, a través de una educación de calidad basada en la innovación, el desarrollo tecnológico y el compromiso social. La Universidad Tecnológica de Durango se dedica a proporcionar conocimientos y habilidades prácticas que impulsan el crecimiento profesional y personal de sus estudiantes, contribuyendo al desarrollo económico y social de la región y del país.</p>
{% endblock content %}