{% extends "layouts/layouts.html" %}

{% block title %}
    {{title}}
{% endblock title %}

{% block content %}
    <h1> {{title}}</h1>
    <h2> {{content}}</h2>
    <p>Ser una universidad líder en educación tecnológica e innovación, reconocida a nivel nacional e internacional por la excelencia de sus programas educativos, la formación integral de sus estudiantes y su impacto positivo en el desarrollo social y económico de la región. La UTD se proyecta como un referente en investigación aplicada, emprendimiento y vinculación con el sector productivo, contribuyendo activamente a la transformación y sostenibilidad de la sociedad.</p>
{% endblock content %}
 