body {
    background-image: url('img/jack.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    
}
label {
    font-size: 2vw;
    margin-right: 10px;
    color: white;
    font-weight: bold;
}

h1 {
    color: white;
    font-size: 3vw;
    margin-top: 30px;
    margin-bottom: 10px;
   
}



hr {
    width: 80%;
    border: 1px solid white;
    margin-bottom: 20px;
    
}

label {
    font-size: 1vw;
    margin-right: 10px;
}

input[type="number"] {
    font-size: 18px;
    padding: 5px;
    margin: 10px 0;
    width: 200px;
    border-radius: 5px;
    border: 1px solid white;
   
}

select {
    font-size: 14px;
    padding: 5px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid white;
}


button {
    background-color: #105075;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    cursor: pointer;
    margin-top: 20px;
    font-weight: bold;
}

button:hover {
    background-color: #3d535a;
}

#resultado {
    margin-top: 30px;
}

#resultado h2 {
    font-size: 20px;
    color: white;
    font-weight: bold;
}

